.calendarDate {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 2px 5px rgba(89, 96, 120, 0.1);
    border-radius: 6px;
    width: 230px;
    background-color: white;
}

.calendarInnerBox{
    padding: 8px 12px;
}

.calendarText{
    font-weight: 700;
    font-size: 14px;
    color: #9FA2B4;
    margin: 2px 0;
}

.calendarDateNum{
    font-weight: 700;
    font-size: 21px;
    color: #003759;
}

.firstBlock{
    display: flex;
    flex-wrap: wrap;
}

.calendarDayStat{
    width: 100%;
    border-radius: 0px;
}

.daysBox{
    box-shadow: 0px 1px 1px rgb(0 0 0 / 10%), 0px 0px 0px 1px rgb(70 79 96 / 16%), 0px 2px 5px rgb(89 96 120 / 10%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.secondBlock{
    display: grid;
    grid-template-columns: repeat(7, 1fr)
}

.cardBackground{
    background: #F4F4F4 ;
}

.disText{
    color: #908F8C ;
}

.pickerBlock{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.iconButton{
    padding: 2px;
}

.iconButton:hover{
    background-color: transparent;
}

.range {
    color: #FF4D42;
    font-size: 14px;
    font-weight: 700;
}

.arrow{
    height: 18px;
    width: 18px;
}

.days{
    text-align: center;
}

//

